/node_modules
/vendor

/public/storage
/public/build
/public/sitemap.xml
/public/hot

/storage/logs
/storage/pail
/storage/app/secrets
/storage/*.key

.env
.env.backup
.env.production
.env.testing

.vscode/chrome
.phpunit.result.cache
.htaccess

.DS_Store
